@{
    ViewData["Title"] = "Export Page";
}

<h1>Export Data</h1>
<a href="/Export/ExportExcel" class="btn btn-success">Download Excel</a>
<a href="/Export/ExportPDF" class="btn btn-danger">Download PDF</a>

@* testing *@